# IDS Assignment 1

This is a Jupyter Notebook created for the analysis on the given dataset for the IDS assignment #1. The assignment is done collaborately by the group of 4 members. The details are as follows,

Group ID : `IDS_GROUP006`

Group Members: 
    1. Venkataramanan K
    2. Bala Kavin Pon
    3. Ponvani
    4. Poornima J


## Problem statement 


**Business Context**

Using the given data set for New York City Current Job Posting data.
 
**Business Problem Understanding**

Focus on applying the learnt data analytics concepts and try to share your findings on following aspects:
1.	What are the highest paid Skills in the US market?
2.	What are the job categories, which involve above mentioned niche skills?
3.	Applying clustering concepts, please depict visually what are the different salary ranges based on job category and years of experience

The analysis on the data is done in the following sequence of steps.

## Step0: Import libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

%matplotlib inline

## Step1: Data Preparation

### Loading a data from file

In [11]:
# Reading data from the CSV file
job_data = pd.read_csv("input/jobs.csv", delimiter=",")

### Descriptive Analysis

In [15]:
job_data.info()
print("---"*40)
job_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3020 entries, 0 to 3019
Data columns (total 28 columns):
Job ID                           3020 non-null int64
Agency                           3020 non-null object
Posting Type                     3020 non-null object
# Of Positions                   3020 non-null int64
Business Title                   3020 non-null object
Civil Service Title              3020 non-null object
Title Code No                    3020 non-null object
Level                            3020 non-null object
Job Category                     3018 non-null object
Full-Time/Part-Time indicator    2811 non-null object
Salary Range From                3020 non-null float64
Salary Range To                  3020 non-null float64
Salary Frequency                 3020 non-null object
Work Location                    3020 non-null object
Division/Work Unit               3020 non-null object
Job Description                  3020 non-null object
Minimum Qual Requirements        3004 non-null object
Preferred Skills                 2581 non-null object
Additional Information           1840 non-null object
To Apply                         3019 non-null object
Hours/Shift                      923 non-null object
Work Location 1                  1422 non-null object
Recruitment Contact              0 non-null float64
Residency Requirement            3018 non-null object
Posting Date                     3018 non-null object
Post Until                       972 non-null object
Posting Updated                  3018 non-null object
Process Date                     3018 non-null object
dtypes: float64(3), int64(2), object(23)
memory usage: 660.8+ KB
------------------------------------------------------------------------------------------------------------------------

,Job ID,# Of Positions,Salary Range From,Salary Range To,Recruitment Contact
count,3020.000000,3020.000000,3020.000000,3020.000000,0.0
mean,383678.501987,2.424172,58140.495550,84325.707875,NaN
std,51779.379258,8.149189,26806.810446,43186.883961,NaN
min,87990.000000,1.000000,0.000000,10.360000,NaN
25%,378264.750000,1.000000,48535.000000,60990.000000,NaN
50%,402960.500000,1.000000,57944.000000,81535.000000,NaN
75%,415741.000000,1.000000,72476.000000,105000.000000,NaN
max,424117.000000,190.000000,218587.000000,234402.000000,NaN

Checking whether there are any missing values in the given dataset using `isnull()` method.

In [13]:
job_data.isnull().sum()

Job ID                              0
Agency                              0
Posting Type                        0
# Of Positions                      0
Business Title                      0
Civil Service Title                 0
Title Code No                       0
Level                               0
Job Category                        2
Full-Time/Part-Time indicator     209
Salary Range From                   0
Salary Range To                     0
Salary Frequency                    0
Work Location                       0
Division/Work Unit                  0
Job Description                     0
Minimum Qual Requirements          16
Preferred Skills                  439
Additional Information           1180
To Apply                            1
Hours/Shift                      2097
Work Location 1                  1598
Recruitment Contact              3020
Residency Requirement               2
Posting Date                        2
Post Until                       2048
Posting Updated                     2
Process Date                        2
dtype: int64